<div class="uk-offcanvas-content">
  <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-usage"></a>

  <div id="offcanvas-usage" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close uk-align-right" type="button" uk-close></button>
      <div class="uk-margin-top">
        <%= render 'shared/sidebar_nav' %>
      </div>
    </div>
  </div>
</div>
